.App {
  text-align: center;
}

.SiteBox {
  padding: 10px;
  border: 1px solid white;
  margin: 20px;
  border-radius: 10px;
}

.Images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 100vh;
  padding: 20px;
}

.Dropdown {
  display: flex;
  justify-content: center;
}

.Text {
  color: #ffffff;
}

.PurpleButton {
  background-color: #cba6f7;
}

.Image {
  border: 3px solid #fab387;
  border-radius: 10px;
}